/*header information */
h1{
    text-align: center;
    background-color: darkslategray;
    color: white;
    font: Georgia, Serif;
    padding: 25px
}

/* body information */
.lowerSection {
    background-color: wheat;
}
.section2 {
    height: 200px;
    width: 50%;
    padding: 25px;
}
h2 {
    font: Georgia, Serif;
    padding: 25px;
}
img {
    float:left;
    padding: 25px;
}
.section3 {
    height: 200px;
    width: 50%;
    padding: 25px;
}